<!DOCTYPE html>
<html>
  <head>
    <title>File Metadata Microservice</title>
    <meta name="description" content="Image Search Abstraction Layer">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
  <header>

    <div class="medium">
    <ul>
       <li class="M">M</li>
       <li>Sign in</li>
       <li>Get Started</li>
    </ul>
    <ul>
       <li class="fccmed">FreeCodeCamp<i class="fa fa-free-code-camp" style="font-size:12px"></i></li>
       <li>DEV</li>
       <li>DESIGN</li>
       <li>DATA</li>
       <li>LEARN TO CODE FOR FREE</li>
       <li><i class="fa fa-search"></i></li>
       <li><a href="https://twitter.com/chanangae"><i class="fa fa-twitter icons"></i></a></li>
       <li><a href="https://web.facebook.com/joseph.myalla"><i class="fa fa-facebook-official icons"></i></a></li>
       <li><a href="https://github.com/sojelee"><i class="fa fa-github icons"></i></a></li>
       <li>Follow</li>
    </ul>
  </div>
     
    </header>
    <image>
      <img src="https://avatars2.githubusercontent.com/u/5945067?v=4&amp;s=100" />
   </image>
   
    <h1>
        FreeCodeCamp API Basejump: File Metadata Microservice
      </h1>
    <main>

    <div class="fileuploadComponent">

			<p>Submit a file to view its filesize.</p>

			<form action="/get-file-size" method="post" enctype="multipart/form-data">
			  <input type="file" name="avatar" accept="image/*">
			  <input type="submit">
			</form>
	</div>

      <section class="leftBorder">
        <p>
        User Stories
        </p>
        <ol>
          
			<li>I can submit a FormData object that includes a file upload.</li>

			<li>When I submit something, I will receive the file size in bytes within the JSON response</li>
         </ol>
        </section> 
      </main>

    <footer>
     
    </footer>

  </body>
</html>
